.h1 {
  color:pink;
}

.key {
  border:4px solid black;
  border-radius:5px;
  font-size:1.5rem;
  padding:1rem .5rem;
  transition:all 0.4;
  text-align:center;
  background: rgb(64, 64, 64);
  text-shadow:0 0 5px black;
}
.keys {

}
.container {
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
kbd {
  display:block;
  font-size:40px;
}
